/// Breakpoints
$mobile: 375px;
$mobile-lg: 576px;
$desktop: 1200px;
$desktop-lg: 1440px;

/// Colors

//Primary
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);

//Neutral
$grayBlue: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);

/// fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$t-sml: 16px;

@mixin bodyT {
  font-size: $t-sml;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: $grayBlue;
}

@mixin headingT {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: $darkBlue;
}

/// Flex Layout

// below just for DRY!
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// ^

@mixin flex-inline {
  display: flex;
  align-items: center;
}

@mixin flex-row {
  @include flex-center;
  flex-direction: row;
}

@mixin flex-col-center {
  @include flex-center;
  flex-direction: column;
}
@mixin flex-col-left {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}

// margin

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

.mt-6 {
  margin-top: 170px;
}

// buttons

.btn {
  padding: 10px 28px;
  border-radius: 5px;
}

.btn-blue {
  background: $softBlue;
  color: white;
}

.btn-gray {
  background: hsl(233, 24%, 93%);
  color: $darkBlue;
}
