/// Breakpoints
$mobile: 375px;
$mobile-lg: 576px;
$desktop: 1200px;
$desktop-lg: 1440px;

/// Colors

//Primary
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);

//Neutral
$grayBlue: hsl(229, 8%, 60%);
$darkBlue: hsl(229, 31%, 21%);

/// fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$t-sml: 16px;

@mixin bodyT {
  font-size: $t-sml;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: $grayBlue;
  line-height: 1.7rem;
}

@mixin headingT {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: $darkBlue;
}

.spacedT {
  letter-spacing: 0.5rem;
  font-size: 13px;
}

/// Flex Layout

// below just for DRY!
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// ^

@mixin flex-inline {
  display: flex;
  align-items: center;
}

@mixin flex-row {
  @include flex-center;
  flex-direction: row;
}

@mixin flex-col-center {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-col-left {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-col-bottom {
  @include flex-center;
  justify-content: flex-end;
  flex-direction: column;
}
// margin

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

.mt-6 {
  margin-top: 170px;
}

// buttons

$btn-shadow: rgba(63, 71, 135, 0.197) 0px 4px 6px -1px,
  rgba(73, 80, 212, 0.06) 0px 2px 4px -1px;

.btn {
  padding: 10px 28px;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: $btn-shadow;
}

.btn-blue {
  background: $softBlue;
  color: white;

  &:hover {
    background: hsl(231, 50%, 44%);
    color: white;
    border: 1px solid hsl(231, 50%, 44%);
  }
}

.btn-gray {
  background: hsl(233, 24%, 93%);
  color: $darkBlue;
}

.btn-red {
  background: $softRed;
  color: white;

  &:hover {
    background: hsl(0, 60%, 53%);
    color: white;
    border: 1px solid hsl(0, 60%, 53%);
  }
}

// tex block

.text-content {
  h1,
  h2,
  h3 {
    margin: 0;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// section spacing

section:not(.contact) {
  margin-bottom: 150px;
}
