@import "value";

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  @include bodyT;
  margin: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: $grayBlue;
}

h1,
h2,
h3 {
  @include headingT;
}

// nav

nav {
  width: 100%;
}

.nav-content {
  width: 100%;
  height: 100px;
  @include flex-row;
  ul {
    @include flex-inline;
    margin: 0;

    a {
      margin: 0 20px;
      transition: all 0.1s ease-in;
      padding-bottom: 5px;
      &:hover:not(.btn) {
        color: $softBlue;
        border-bottom: 2px solid $softBlue;
      }
    }

    .login-btn {
      padding: 7px 28px;
    }
  }
}

.hamburger {
  &:hover {
    cursor: pointer;
  }
}

// HERO

.hero {
  @include margin-center;

  .inner-hero {
    @include flex-col-center;
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-cta {
    max-width: 450px;

    p {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  .hero-btn button:last-child {
    margin-right: 10px;
  }

  img {
    max-width: 800px;
    width: 80%;
  }

  @media (min-width: $desktop) {
    .inner-hero {
      @include flex-row;
      text-align: left;
    }

    img {
      padding-top: 80px;
      width: 800px;
    }
  }

  @media (max-width: 390px) {
    button {
      margin-top: 20px;
      width: 185px;
    }
  }
}

/// FEATURES

.features {
  text-align: center;
  .intro-features {
    @include margin-center;
    max-width: 450px;
    p {
      @include margin-center;
      margin-top: 20px;
      max-width: 450px;
    }

    ul {
      @include flex-col-center;
      border-top: 1px solid $grayBlue;
      border-bottom: 1px solid $grayBlue;
      margin: 80px 0;

      li {
        padding: 20px 0;
        width: 100%;
        &:hover {
          cursor: pointer;
          font-weight: 500;
        }
      }

      li:nth-child(2) {
        border-top: 1px solid $grayBlue;
        border-bottom: 1px solid $grayBlue;
      }
    }
  }

  @media (min-width: $desktop) {
    .intro-features {
      max-width: 800px;

      p {
        max-width: 490px;
      }

      ul {
        @include flex-row;
        @include margin-center;
        width: 100%;
        border: none;
        margin: 50px 0 70px 0;

        li:nth-child(2) {
          border-top: none; // bottom is the same as top
        }

        li {
          border-bottom: 1px solid $grayBlue;
          padding-top: 0;
        }
      }
    }
  }

  .bb-red {
    transition: all 0.1s ease-in;
    border-bottom: 3px solid $softRed !important;
  }
}

// feature info

.feature-info {
  .ft-info-content {
    max-width: 500px;
    @include margin-center;
  }

  img {
    width: 100%;
    max-width: 600px;
  }

  h1 {
    margin-top: 50px;
  }

  button {
    @include margin-center; //
  }

  @media (min-width: $desktop) {
    @include flex-row;
    @include margin-center;

    .ft-info-content {
      @include flex-col-left;
      align-self: baseline;
      justify-content: flex-start;
      margin-top: 60px;
      height: 206px;
      width: 500px;
    }
    max-width: 1130px;
    text-align: left;

    .ft-info-content {
      margin-left: 8%;
      width: 100%;
    }

    p,
    h1 {
      margin: 0;
    }

    p {
      margin-top: 20px;
    }

    button {
      margin: 0;
      margin-top: 30px;
    }
  }
}

// Download the extention ( DownloadTE )

.downloadTE {
  text-align: center;
  .intro-downloadTE {
    margin-bottom: 50px;
    p {
      @include margin-center;
      margin-top: 20px;
      max-width: 500px;
    }
  }

  .download-card {
    margin-top: 60px;
    @include flex-col-bottom;
    @include margin-center;
    max-width: 300px;
    height: 430px;
    border-radius: 20px;
    box-shadow: rgba(29, 49, 138, 0.222) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    .card-info {
      h3 {
        margin-top: 50px;
      }

      p {
        margin-bottom: 40px;
      }
    }

    .btn-container {
      width: 100%;
      padding: 25px;
      border-top: 2px solid hsl(231, 48%, 92%);

      button {
        width: 100%;
      }
    }
  }

  @media (min-width: $desktop) {
    .intro-downloadTE {
      margin-bottom: 0px;
    }
    .download-cards-container {
      @include flex-row;
      @include margin-center;
      width: 960px;
      transform: translateY(-50px);

      .download-card:first-child {
        margin-top: 0;
      }

      .download-card:nth-child(2) {
        margin-top: 80px;
      }

      .download-card:nth-child(3) {
        margin-top: 160px;
      }
    }
  }
}

// frequently Ask Questions

.questions-container {
  text-align: center;
  @include margin-center;
  max-width: 640px;

  .text-content {
    @include margin-center;
    max-width: 500px;
  }

  .question-list {
    margin-top: 50px;
    .question {
      @include flex-col-center;
      width: 100%;
      border-bottom: 1px solid black;
      padding: 20px;
    }

    .question-title {
      @include flex-row;
      width: 100%;
      text-align: left;

      p {
        color: $darkBlue;
      }
    }

    .answer {
      margin-top: 20px;
      padding: 20px 0;
      text-align: left;
    }

    .answer,
    .close {
      display: none;
    }

    //show text

    .show-text {
      .answer,
      .close {
        display: block;
      }

      .open {
        display: none;
      }
    }
  }
}

// contact

.contact {
  .inner-contact {
    max-width: 600px;
  }

  background: $softBlue;
  color: white;
  text-align: center;
  padding: 80px 0;

  p {
    margin-bottom: 10px;
  }

  h1 {
    color: white;
    margin-bottom: 40px;
  }

  input {
    height: 46px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    color: $grayBlue;
    border-radius: 5px;
    border: none;
    &::placeholder {
      color: hsl(231, 17%, 84%);
    }
  }

  button {
    width: 100%;
  }

  @media (min-width: $desktop) {
    form {
      @include flex-row;
      @include margin-center;
      input {
        width: 500px;
        margin: 0;
      }

      button {
        margin-left: 20px;
        max-width: 144px;
      }
    }
  }
}

// footer

footer {
  background: $darkBlue;
  padding: 40px 0;
}

.inner-footer {
  min-height: 70px;
  @include flex-col-center;

  .left {
    @include flex-col-center;

    ul {
      @include flex-col-center;
      // margin-left: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
      height: 140px;
      a {
        margin: 0 20px;
      }
    }
  }

  .right {
    svg:hover path {
      fill: $softBlue;
      transition: all 0.1s ease-in;
    }

    svg:last-child {
      margin-left: 40px;
    }
  }
}

@media (min-width: $desktop) {
  footer {
    padding: 0;
  }

  .inner-footer {
    height: 70px;
    @include flex-row;

    .left {
      @include flex-row;

      ul {
        @include flex-row;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
        a {
          margin: 0 20px;
          transition: all 0.1s ease-in;
          padding-bottom: 5px;
          &:hover:not(.btn) {
            color: rgb(184, 190, 205);
            border-bottom: 2px solid rgb(184, 190, 205);
          }
        }
      }
    }

    .right {
      svg {
        margin-left: 40px;
      }
    }
  }
}
